* {
  background-color: whitesmoke;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 2rem;
  color: black;
}

h4 {
  font-size: 1rem;
  color: black;
}
