* {
  background-color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  margin: 15%;
  width: 600px;
  color: white;
  border: 1px solid white;
}

.qoute h1 {
  margin: 30px 40px 0;
}
